@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

/*body*/

body {
    max-width: 1920px;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    line-height: 1.2;
    margin: 0 auto;
    color: #333;
}

.webpage {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}


/*Wrapper*/

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin: 21px auto;
    padding: 15px
}

.wrapper-logo {
    position: relative;
    display: block;
    justify-content: space-between;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    text-decoration: none;
}

.nav a:hover {
    color: #505bf7;
    transform: scale(1.1);
    font-weight: bold;
    text-decoration: underline;
    transition: all 300ms;
}

.nav a {
    text-decoration: none;
    color: #333333;
}

.nav.active {
    font-weight: bold;
}

.request-button {
    padding-left: 30px;
    width: 210px;
    height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    background: #ffffff;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border: 1px solid rgba(75, 93, 104, 0.5);
    border-radius: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
}

.request-button:hover {
    cursor: pointer;
    transition: all 500ms;
    background: #594eff;
    box-shadow: 5px 9px 9px rgba(75, 93, 104, 0.9);
}

.button-arrow {
    padding-left: 15px;
}


/* Main content*/

.main-article {
    display: flex;
    margin: 0 auto;
    margin-bottom: 43px;
    margin-top: 101px;
    max-width: 1120px;
    background-image: url(/img/articleimage.png);
    min-height: 800px;
    background-repeat: no-repeat;
    background-position: right;
}

.content-title {
    max-width: 658px;
    display: flex;
    font-weight: normal;
    font-size: 80px;
    line-height: 110%;
}

.article-text {
    margin-top: 50px;
    display: flex;
    max-width: 380px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
}

.learnmore-button {
    text-decoration: none;
    margin-top: 66px;
    width: 210px;
    height: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    letter-spacing: 0.005em;
    border: 1px solid rgba(75, 93, 104, 0.5);
    background: #ffffff;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    justify-content: center;
}

.learnmore-button a {
    text-decoration: none;
}

.learnmore-button:hover {
    cursor: pointer;
    transition: all 300ms;
    background: #594eff;
    box-shadow: 5px 9px 9px rgba(75, 93, 104, 0.9);
}


/* Request*/

.request {
    display: flex;
}

.main-request {
    background: #fedd00;
    border-radius: 50px;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    max-width: 1319px;
    padding: 20px;
}

.request-title {
    max-width: 475px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
}

.request-text {
    padding-top: 45px;
    display: flex;
    margin-right: 93px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
}


/*Services*/

.services {
    margin-top: 150px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
}

.services-title {
    text-align: center;
    margin-top: 50px
}

.services-text {
    margin: 0 auto;
    margin-bottom: 83px;
    margin-top: 50px;
    display: flex;
    max-width: 584px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
}

.services-navigation {
    display: flex;
    max-width: 740px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.services-img {
    max-width: 150px;
}

.services-nav {
    text-decoration: none;
    margin-top: 40px;
    margin-left: 20px;
    width: 170px;
    height: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    letter-spacing: 0.005em;
    border: 3px solid #ffe600;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    margin-bottom: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    justify-content: center;
}

.services-navigation .r-tabs-state-active {
    background: #ffe600;
}

.services-nav a {
    text-decoration: none;
    color: #333;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.services-top {
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 1080px;
    justify-content: space-between;
}

.services-discription {
    display: inline-block;
    padding-left: 50px;
    padding-right: 5px;
}

.servicesblock {
    background-image: url(../img/servicesbg.png);
    background-size: cover;
}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
}

.services-discription-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 50px;
    padding-top: 35px;
}

.servicesblock {
    display: flex;
    width: 458px;
}

.service-price {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
}


/*
Reviews*/

.reviews {
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 150px;
    background: #fedd00;
    border-radius: 50px;
}

.reviews-main {
    padding: 40px 90px 0px 90px;
}

.reviews-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
}

.reviews-img {
    padding-bottom: 130px;
}


/* Maps*/

.map {
    margin-top: 150px;
    margin-bottom: 70px;
}


/* Footer*/

.footer {
    max-width: 1120px;
    margin: 0 auto;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
}

.footerblock {
    margin-left: 25px;
}

.footerbtn {
    display: flex;
    margin-left: 35px;
}

.footer-button {
    text-decoration: none;
    padding-left: 30px;
    width: 210px;
    height: 60px;
    display: flex;
    margin-left: 35px;
    align-items: center;
    letter-spacing: 0.005em;
    border: 1px solid rgba(75, 93, 104, 0.5);
    background: #ffffff;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
}

.footer-button:hover {
    cursor: pointer;
    transition: all 500ms;
    background: #594eff;
    box-shadow: 5px 9px 9px rgba(75, 93, 104, 0.9);
}

.footerrequest {
    text-decoration: none;
    color: black;
}

.footer-contacts {
    display: block;
    margin-top: 35px;
}

.copyright {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 30px;
    margin-bottom: 70px;
}

.copyright-text {
    margin: 0 auto;
    text-align: center;
}


/* Tabs */

.tabs-section {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.tab-group {
    margin: 0 auto;
}

.tab-card-group {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.card {
    width: 50%;
    max-width: 450px;
    padding: 20px;
    border: 3px solid rgba(255, 217, 0, 0.9);
    background-color: rgba(0, 88, 252, 0.7);
    border-radius: 50px;
    margin: 15px;
}

.services-img {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 150px;
}

.servisec-name-title {
    text-align: center;
}

.services-card-text {
    width: 100%;
    max-width: 450px;
}

.services-title {
    font-size: 36px;
    font-weight: bold;
}


/*TABS@*/

.r-tabs .r-tabs-tab {
    list-style: none;
}

.r-tabs .r-tabs-panel {
    display: none;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}


/* Accordion responsive breakpoint */

@media only screen and (max-width: 768px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }
    .r-tabs .r-tabs-accordion-title {
        display: block;
        font-weight: bold;
        border: 1px solid rgba(255, 217, 0, 0.9);
        border-radius: 10px;
        background-color: rgba(0, 88, 252, 0.7);
    }
}


/*Media*/

@media (max-width: 768px) {
    .body {
        margin: 10px;
    }
    .webpage {
        max-width: 100%;
        margin: 0 auto;
    }
    .header {
        margin: 30px 25px;
    }
    .wrapper {
        max-width: 100%;
    }
    .navigation {
        display: none;
    }
    .main-article {
        max-width: 100%;
        padding-left: 40px;
    }
    .content-title {
        max-width: 320px;
        font-size: 30px;
    }
    .main-request {
        width: 100%;
        margin: 0 auto;
        max-width: 700px;
    }
    .requestimg {
        display: none;
    }
    .r-tabs-anchor {
        color: #333333;
        text-decoration: none !important;
    }
    .services-top {
        display: block;
        width: 100%;
    }
    .services-container {
        width: 100%;
        max-width: 700px;
        display: block;
    }
    #responsiveTab {
        width: 100%;
        max-width: 550px;
        margin: 0 auto;
        color: black
    }
    .r-tabs-accordion-title {
        color: #333333;
        text-align: center;
        text-decoration: none !important;
    }
    .r-tabs-accordion-title:visited {
        color: #333333;
    }
    .servicesblock {
        margin: 0 auto;
        margin-top: 45px;
    }
    .footer-logo {
        display: flex;
        margin: 0 auto;
        text-align: center;
        flex-direction: column;
    }
    .footerbtn {
        margin: 0 auto;
        text-align: center;
    }
    .footer-button {
        margin-top: 15px;
    }
    .copyright {
        padding-left: 30px;
        padding-right: 35px;
        margin-bottom: 70px;
    }
}

@media (max-width: 520px) {
    .tab-card-group {
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 70%;
        display: block;
        margin: 15px auto;
    }
}

@media (max-width: 320px) {
    .webpage {
        max-width: 320px;
    }
    .wrapper {
        margin: 0 auto;
    }
    .header {
        max-width: 100%;
        margin-left: 10px;
    }
    .wrapper-logo {
        margin: 0 auto;
    }
    .services-img {
        display: none;
    }
    .servicesblock {
        width: 280px;
    }
    .navigation {
        display: none;
        width: 100%;
        max-width: 300px;
        margin: 15px 0;
    }
    .wrapper-contacts {
        margin: 15px 30px;
    }
    .wrapper {
        display: block;
    }
    .requestimg {
        display: none;
    }
    .content-title {
        max-width: 320px;
        font-size: 30px;
    }
    .requestimg {
        max-width: 320px;
    }
    .request-title {
        max-width: 320px;
        max-width: 100%;
    }
    .main-request {
        padding: 15px 15px;
    }
    .reviews-main {
        padding: 15px 15px;
    }
    .reviews-img {
        max-width: 100%;
        padding: 25px 25px;
    }
    .copyright {
        margin-bottom: 70px;
    }
    .reviews-title {
        margin: 0 auto;
        text-align: center;
    }
    .footerbtn {
        display: none;
    }
}


/*
=====
DEPENDENCES
=====
*/

.navBurger {
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
    background: #111;
    box-sizing: border-box;
    background-clip: content-box;
    width: 30px;
    height: 25px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    z-index: 1001;
}

.navBurger:before,
.navBurger:after {
    content: "";
    position: absolute;
    background: #111;
    height: 2px;
    width: 100%;
    right: 0;
    z-index: 1001;
    will-change: rotate;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navBurger:before {
    top: -10px;
    width: 100%;
}

.navBurger:after {
    bottom: -10px;
    width: 100%;
}

.navBurger.active {
    background: transparent;
    background-clip: content-box;
}

.navBurger.active:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0;
    background: rgb(0, 0, 0);
    width: 110%;
}

.navBurger.active:after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: rgb(0, 0, 0);
    width: 110%;
}

.overlay {
    position: fixed;
    background: #fedd00;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform-origin: right top;
    transform: scale(0);
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

.overlay.open {
    opacity: 1;
    z-index: 1000;
    visibility: visible;
    transform: scale(1);
}

.overlay.open li {
    display: block;
    animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
    animation-delay: 0.4s;
    transform: rotate(-7deg);
    transform-origin: right bottom;
}

.overlay.open li:nth-of-type(2) {
    animation-delay: 0.5s;
}

.overlay.open li:nth-of-type(3) {
    animation-delay: 0.6s;
}

.overlay.open li:nth-of-type(4) {
    animation-delay: 0.7s;
}

.overlay.open li:nth-of-type(5) {
    animation-delay: 0.8s;
}

.overlayMenu {
    position: absolute;
    text-align: right;
    right: 10vw;
    bottom: 10vw;
}

.overlayMenu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%;
}

.overlayMenu ul li {
    display: block;
    position: relative;
    opacity: 0;
    width: 100%;
}

.overlayMenu ul li a {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.09);
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 40px 10px 40px;
    margin: 5px 0;
    transition: 0.2s;
    background: #2a3140;
}

.overlayMenu ul li a:hover,
.overlayMenu ul li a:active,
.overlayMenu ul li a:focus {
    transform: translateX(-2px);
    padding-left: 80px;
    border: 1px solid white;
}

.locked {
    overflow: hidden;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 50px;
    }
    100% {
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
    }
}