body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2;
}


/* Header*/

.wrapper {
    max-width: 1160px;
    margin: 0 auto;
}

.header {
    background: linear-gradient(rgb(207, 253, 251), #fff);
}

.header-logo {
    height: 130px;
    margin-top: 20px;
    background-image: url(../svg/logoback.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 21px;
}

.header-ul {
    flex-wrap: wrap;
    display: inline-flex;
    margin-right: 50px;
    margin-left: 130px;
}

.header-item {
    margin-right: 36px;
    list-style: none;
}

.header-link {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    text-decoration: none;
    color: black;
}

.header-contacts {
    float: right;
}

.body-pic {
    margin-left: 250px;
}

.request-button {
    position: absolute;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    margin-left: 370px;
    margin-top: 30px;
}


/*intro*/

.intro {
    height: 100vh;
    max-width: 1160px;
    margin: 0 auto;
    background-image: url(../img/computer1.png);
    background-repeat: no-repeat;
}

.intro-title {
    padding-top: 20px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    margin-top: 150px;
}

.h1-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 30px;
}

.adress {
    width: 160px;
    margin-top: 30px;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}


/* Middle section*/

.middle-div {
    margin-top: 450px;
    margin-bottom: 150px;
    width: 1117px;
    height: 560px;
    background-image: url(../img/background.png);
}

.table-text {
    margin-top: 0px;
}

.table-text-title {
    margin-top: 0px;
    padding-top: 80px;
}

.table-right-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
}

.middle-request-button {
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    margin-left: 170px;
    margin-top: 30px;
}


/*Services*/

.services {
    width: 584px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.services-title {
    margin: 0;
    margin-bottom: 50px;
    color: black;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
}

.services-text {
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
}

.nav {
    text-align: center;
    margin-bottom: 85px;
}

.nav-link {
    background: #FEDD00;
    border-radius: 50px;
    display: inline-block;
    padding: 8px 12px;
    color: rgb(18, 43, 34);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
}

.nav-link:hover {
    background-color: rgb(179, 253, 253);
    text-decoration: underline;
    text-transform: uppercase;
}

.services-text-title {
    width: 220px;
    padding-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    padding-bottom: 25px;
    padding-left: 60px;
    padding-right: 150px;
}

.maintable {
    background-image: url(../img/servicebg.png);
    background-repeat: no-repeat;
}

.table-service-text {
    margin-top: 40px;
    margin-bottom: 70px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
}

td.col3 {
    background-image: url(../img/servicebg.png);
}

td.col4 {
    background-image: url(../img/servicebg.png);
}

.table-div {
    margin-bottom: 160px;
}


/*Reviews*/

.reviews {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
}

.reviews-image {
    padding-top: 100px;
    padding-left: 250px;
    padding-bottom: 200px;
}

.reviews-title {
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
}

.map {
    margin-bottom: 70px;
}

.map-title {
    text-align: center;
}


/*Footer*/

.footer {
    margin-top: 90px;
    position: relative;
}

.footer-adress {
    width: 335px;
    margin-bottom: 40px;
    position: absolute;
    top: 1px;
    left: 210px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
}

.footer-contacts {
    width: 335px;
    margin-bottom: 40px;
    position: absolute;
    top: 70px;
    left: 210px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
}

.footer-rights {
    width: 335px;
    margin-bottom: 40px;
    position: absolute;
    top: 170px;
    left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
}

.up-button {
    position: absolute;
    top: 10px;
    left: 500px;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    margin-left: 170px;
    margin-top: 30px;
}

.footer-request-button {
    position: absolute;
    top: 10px;
    left: 620px;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    margin-left: 170px;
    margin-top: 30px;
}

.footer-whatsapp {
    position: absolute;
    top: 150px;
    left: 620px;
}

.footer-tel {
    position: absolute;
    top: 150px;
    left: 700px;
}

.footer-mail {
    position: absolute;
    top: 150px;
    left: 780px;
}

.footer-vk {
    position: absolute;
    top: 150px;
    left: 860px;
}

.social-title {
    position: absolute;
    top: 80px;
    left: 673px;
}